:root {
    --basic-black: #000000;
    --basic-black-light:  #333333;
    --basic-black-rating: #666666;
    --basic-white: #ffffff;
    --basic-blue:  #81B3D2; 
    --basic-gray:  #EEEEEE;
    --basic-gray-dark: #888888;
    --basic-gray-ligth: #F2F2F2;
    --basic-brown: #766357;

}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700; 
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

.page a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
  }

 .site-navigation a{
    color: var(--basic-black)
 } 

  .features-list {
    list-style: none;
  }

  .feature {
    text-align: center;
  }

  .feature h1{
    font-size: 21px;
    line-height: 26px;
  }

  .feature p{
    font-size: 14px;
    line-height: 26px;
  }

 .features-list h2 h3 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
 }

.features-list p {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
 }
  .feature-item-blue{
    color: var(--basic-white);
    background-color: var(--basic-blue)
  }

  .feature-item-white{
    background-color: var(--basic-white);  
  }

  .feature-item-grey{
    background-color: var(--basic-gray)
  }

  .choice {
    text-align: center;
  }

  .choice h2{
    font-size: 30px;
    line-height: 24px;
  }

  .choice p{
    font-size: 14px;
    line-height: 24px;
  }

  .choice h3{
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-brown);
  }

  .container-form{
    background: url(Image.png);
  }

  .main-footer{
    color: var(--basic-black);
    background: rgba(255, 255, 255, 0.9);
  }
  .footer-contacts a{
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
  }
  .footer-phone{
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
  }

  .social-button{
    background: var(--basic-blue)
  }
  .footer-copyright{
    font-size: 14px;
    line-height: 26px;
  }
  .footer-copyright a{
    color: var(--basic-black);
  }