:root {
    --basic-black: #000000;
    --basic-black-light:  #333333;
    --basic-black-rating: #666666;
    --basic-white: #ffffff;
    --basic-blue-rest:  #81B3D2; 
    --basic-blue-focus: #669EC0; 
    --basic-blue-press:#5496BD;
    --basic-gray:  #EEEEEE;
    --basic-gray-dark: #888888;
    --basic-gray-rest: #F2F2F2;
    --basic-gray-focus: #EBEBEB;
    --basic-brown-rest: #766357;
    --basic-brown-focus: #604E43;
    --basic-brown-press: #503E33; 
 }

  body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px; 
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .page a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .main-conteiner {
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  }

  .main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: transparent;
  }

  .site-navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

 .site-navigation a{
    color: var(--basic-black)
 } 

  .features-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .feature-list-subparagraph {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }

  .feature {
    text-align: center;
  }

  .feature h1{
    font-size: 21px;
    line-height: 26px;
  }

  .feature p{
    font-size: 14px;
    line-height: 26px;
  }

  .features-list h2, .features-list h3 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
  }

  .features-list p {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
  }

  .feature-item-blue{
   color: var(--basic-white);
   background-color: var(--basic-blue-rest);
  }

  .feature-item-white{
    background-color: var(--basic-white);  
  }

  .feature-item-grey{
    background-color: var(--basic-gray)
  }

  .choice {
    text-align: center;
  }

  .choice h2{
    font-size: 30px;
    line-height: 24px;
  }

  .choice p{
    font-size: 14px;
    line-height: 24px;
  }

  .choice a{
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-brown-rest);
  }

  .choice a:hover{
   background-color: var(--basic-brown-focus);
  } 

  .choice a:active{
    background-color: var(--basic-brown-press);
  } 
  .choice-form{
    background-image: url();
  }

  .main-footer{
    color: var(--basic-black);
    background-color: rgba(255, 255, 255, 0.9);
  }
  .footer-contacts a{
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
  }
  .footer-phone{
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
  .footer-visit {
    font-weight: 700;
  }
  .footer-social{
    margin: 0;
    padding: 0;
  }

  .social-button{
    background-color: var(--basic-blue-rest);
  }

  .footer-social a:hover {
    background-color: var(--basic-blue-focus);
  }

  .footer-social a:active {
    background-color: var(--basic-blue-press);
  }

  .footer-copyright{
    font-size: 14px;
    line-height: 26px;
  }
  .footer-copyright a{
    color: var(--basic-black);
  }

  .footer-copyright a:hover {
    color: var(--basic-blue-rest);
  }

  .footer-copyright a:active {
      color: var(--basic-gray-rest);
  }