:root {
  --basic-black: #000000;
  --basic-black-light:  #333333;
  --basic-black-rating: #666666;
  --basic-white: #ffffff;
  --basic-blue-rest:  #81B3D2; 
  --basic-blue-focus: #669EC0; 
  --basic-blue-press:#5496BD;
  --basic-gray:  #EEEEEE;
  --basic-gray-rest: #F2F2F2;
  --basic-gray-focus: #EBEBEB;
  --basic-gray-line: #E5E5E5;
  --basic-gray-reseption: #666666;
  --basic-gray-filter:  #ABABAB;
  --basic-brown-rest: #766357;
  --basic-brown-focus: #604E43;
  --basic-brown-press: #503E33; 
}

  body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px; 
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .page a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .page {
    height: 100%;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: o;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .main-conteiner {
    position: relative;
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  .main-header-logo {
    position: absolute;
    left: 531px;
    top: 0px;
  }

  .main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: transparent;
  }

  .site-navigation{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 240px 240px 240px 240px; Сделать лоя каждого ЛИ грид-ария? */
    gap: 10px 0px;
    list-style-type: none;
    text-align: center;
    margin: 15px 0px;
    padding: 0;
  }

.site-navigation li:nth-of-type(3), 
.site-navigation li:nth-of-type(7){
  grid-column-start: 4;
}

.site-navigation li:nth-of-type(4),
.site-navigation li:nth-of-type(8){
  grid-column-start: 5;
}

  .site-navigation a{
    color: var(--basic-black);
  }

  .site-navigation a:hover {
    color: var(--basic-blue-rest);
  }

  .site-navigation a:active {
    color: var(--basic-gray-rest);
  }

  .welcome {
    width: 1200px;
    text-align: center;
    padding-top: 77px;
    padding-bottom: 80px;
    background-image: url(../img/background-botton.png), url("../img/background_photo.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    background-size: auto cover;
  }

  .features {
    text-align: center;
    padding-top: 35px;
  }

  .feature-heading p{
    margin-top: 15px;
  }

  .features-list {
    margin-top: 51px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    list-style-type: none;
    padding-inline-start: 0;
  }

  .feature-item-blue {
    grid-column-start: 1;
    grid-column-end: 4; 
    display: flex;
    flex-direction: row;
  }

  .feature-item-conteiner {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
  }

  .feature-bridge{
    grid-column-start: 1;
    grid-column-end: 3; 
  }

  .features h1{
    max-width: 470px;
    min-height: 80px;
    margin: auto;
    font-size: 21px;
    line-height: 26px;
  }

/*   .features p{
    max-width: 700px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
  } */

  .features-list h2, .features-list h3 {
    min-width: 159px;
    margin: auto;
    font-size: 21px;
    line-height: 21px;
  }

  .features-list p {
    min-width: 301px;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    padding-left: 52px;
    padding-right: 52px;
  }

  .features-list .feature-item-number {
    margin-top: 28px;
    margin-bottom: 25px;
  }

  .feature-item-blue{
   color: var(--basic-white);
   background-color: var(--basic-blue-rest);
  }

  .feature-item-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--basic-white);  
    padding-top: 60px;
    padding-bottom: 82px;
  }

  .feature-item-white h3 {
    padding: 25px 40px;
  }

  .feature-item-grey{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--basic-gray);
    padding-top: 47px;
    padding-bottom: 51px;
  }

.choice {
  text-align: center;
  padding-top: 18px;
}

.choice h2{
  font-size: 30px;
  line-height: 24px;
  padding-left: 200px; /*padding поставила от переполнения*/
  padding-right: 200px;
}

.choice-info{
  font-size: 14px;
  line-height: 24px;
  width: 435px;     /*или лучше так от переполнения - с width*/
  margin: 35px auto 43px;
}

.choice-button{
  display: block;
  position: relative;
  margin: 0 auto;
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--basic-brown-rest);
  width: 568px;
}

.choice-button:hover{
  background-color: var(--basic-brown-focus);
} 

.choice-button:active{
  background-color: var(--basic-brown-press);
  color: var(--basic-brown-rest);
} 

/*---------------------------------------------------------всплывающее окно*/

.modal {
  display: block;
  width: 568px;
  position: absolute;
  margin-left: 316px;
  background-color: var(--basic-white);
  size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.modal-hidden {
  display: none;
  width: 568px;
  position: absolute;
  animation: bounce 0.6s;
} 

.modal-search {
  display: flex;
  flex-direction: column;
  padding: 55px;
}

/* .arrival input,
.departure input{
  width: 346px;
  height: 38px;
  background-color: var(--basic-gray-rest);
  border: none;
} */

.container-calendar input{  
  position: relative;
  width: 346px;
  height: 38px;
  background-color: var(--basic-gray-rest);
  border: none;
}

.calendar{
  position: absolute;
  right: 55px;
  width: 25px;
  height: 25px;
  border: none;
  margin-right: 8px;
  background: rgba(0, 0, 0, 0);
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.container-calendar .calendar:hover  {
  background-image: url(../img/calendar-black.svg);
}

.container-calendar .calendar:active {
  background-image: url(../img/calendar-blue.svg);
} 

/* .container-calendar input:active ~.calendar {
  background-image: url(../img/calendar-blue.svg);
} */

.container-calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrival {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.departure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.quantity-parents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantity-children {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-gray-rest);
  width: 88px;
  height: 38px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 36px;
}

.container-quantity input{  
  size: 14px;
  line-height: 26px;
  font-weight: 700;      
  width: 30px;   
  text-align: center;                       
 background-color: var(--basic-gray-rest);
  border: none;
}

.container-quantity input[type='number'] {              
  -moz-appearance:textfield;
}

.container-quantity input::-webkit-outer-spin-button,
.container-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.quantity-plus{
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-plus-grey.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.quantity-plus:hover{
  background-image: url(../img/icon-plus-black.svg);
}

.quantity-plus:active{
  background-image: url(../img/icon-plus-blue.svg);
}

.quantity-minus {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-minus-grey.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: none;
  cursor: pointer;
}

.quantity-minus:hover{
  background-image: url(../img/icon-minus-black.svg);
}

.quantity-minus:active{
  background-image: url(../img/icon-minus-blue.svg);
}

.modal-trip {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 458px;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--basic-blue-rest);
  border: none;
}
 
.modal-trip:hover{
  background-color: var(--basic-blue-focus);
}

.modal-trip:active{
  color: var(--basic-blue-rest);
  background-color: var(--basic-blue-press);
}

/*-----------------------------анимация модального окна*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  } 

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/*-------------------------------------------------------подвал*/
.main-footer{
  position: absolute;
  width: 1200px;
  bottom: 0px;
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 36px 0px;
}

.page-footer {
  width: 1200px;
  padding-top: 23px;
  padding-bottom: 36px;
}
.footer-container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  padding: 0px 50px;
}

  .footer-contacts {
    text-align: center;
    padding: 0px;
  }

  .footer-contacts a{
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
  }
  .footer-phone{
    text-align: center;
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
  }
  .footer-visit {
    font-weight: 700;
  }

  .footer-icons {
   text-align: center;
   margin-top: 15px;
  }

  .footer-social{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

.footer-social li {
  position: relative;
  margin-right: 6px;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue-rest); 
}

.footer-social a:hover {
  background-color: var(--basic-blue-focus);
}

.footer-social a:active {
   background-color: var(--basic-blue-press);
}

.social-button:active path{
  fill: var(--basic-blue-rest);
}

.footer-made {
  margin-top: 20px;
}

.footer-copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.academy-logo {
  margin-left: 8px;
}

.academy-logo path{
  fill: var(--basic-black);
}

.academy-logo:hover path {
  fill: var(--basic-blue-rest);
 }

.academy-logo:active path {
  fill: var(--basic-gray-rest);
}


/*--------------------------------------------------------вторая страница */

.search {
  padding: 26px 73px 32px 73px;   /*оставить такие падинги для секции? Земеряла по макету. Или так не надо делать?*/
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:var(--basic-white);
}

.infrastructure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-option label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 0px;
  width: 21px;
  height: 21px;
  /*border: 3px solid var(--basic-white);*/
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  background-image: url(../img/checkbox-off-block.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.filter-input-checkbox:checked + label::before,
.filter-input-checkbox:disabled + label::before{
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 0px;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.filter-input-checkbox:disabled + label::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 0px;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-on-block.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.infrastructure-list li{
  padding-top: 23px;
}

.filter-item{
  padding: 0;
  border: none;
}

.filter-item-indent {
  margin-right: 115px;
}

.filter-item-dig {
  flex-grow: 1;
}

.filter-item ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-item legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
}

.range-filter {
  width: 317px;
  padding-top: 10px;
}

.range-controls {
  position: relative;
  height: 36px;

  padding-top: 18px;
}

.range-controls .toggle {
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray-filter);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-gray-filter);
  cursor: pointer;
}

.range-controls .toggle:hover{
  transform:scale(1.2);
}

.range-controls .toggle-max{
  left: 250px;
}

.range-controls .scale {
  height: 2px;
  margin-bottom: 33px;
  background-color: var(--basic-gray-filter);
 
}

.range-controls .bar {
  height: 2px;
  width: 258px;
  background-color: var(--basic-white);
}

.price-controls {
  border: 2px solid var(--basic-white);
  text-align: center;
  border-radius: 2px;
  padding: 5px;
}

.price-controls .min-price {
  border-right: 2px solid var(--basic-white);
}

.price-controls label{
  margin-left: 50px;
}

.price-controls input{
  width: 60px;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0);
  border: none;
}

.price-controls input[type='number'] {              /*может input сделать текстом? */
  -moz-appearance:textfield;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contaiter-button .show{
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 7px 36px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-left: 87px;
}

.contaiter-button .show:hover{
  color: var(--basic-black);
  background: var(--basic-white);
}
.catalog {
  color: var(--basic-brown-rest);
}

.found {
  border-bottom: 1px solid var(--basic-gray-line);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0px 73px;                      /* тоже падинги по макету. Остаить или убрать?*/
}

.found-sorting {
  flex-grow: 1;
  padding-left: 46px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sorting-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: 18px;  
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sorting-list li{
  position: relative;
  margin-right: 33px;
}

.sorting {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px; 
}

.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 30px 0px;
}

.sorting-main {
  color: var(--basic-blue-rest);
  list-style-type: none; 
}

.sorting-notmain {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-blue-rest);
}

.sorting-notmain:hover{
  color: var(--basic-blue-rest);
}

.sorting-notmain:active{
  color: var(--basic-black);
  border-bottom:none;
  opacity: 1;
}

.found-button button{
  width: 11px;
  height: 10px;
  background: none;
  border: none;
}

.found-button .found-button-up {
  margin-right: 5px;
  background-image: url(../img/icon-up-grey.svg);
  background-size: cover;
 /*  outline: none;                      делает невидимой для навигации Табом*/
}

.found-button .found-button-up:hover{
  background-image: url(../img/icon-up-black.svg);
  background-repeat: no-repeat;
}

.found-button .found-button-up:active{
  background-image: url(../img/icon-up-blue.svg);
  background-repeat: no-repeat;
  /* outline: none;                                       */
}

.found-button .found-button-down {
  background-image: url(../img/icon-down-grey.svg);
  background-size: cover;
  /* outline: none; */
}

.found-button .found-button-down:hover{
  background-image: url(../img/icon-down-black.svg);
  background-repeat: no-repeat;
}

.found-button .found-button-down:active{
  background-image: url(../img/icon-down-blue.svg);
  background-repeat: no-repeat;
  /* outline: none; */
}

.all-hotels {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-container {
  display: flex;
  flex-direction: row;
  padding: 25px 73px;                   /* -----------------------------падинги по макету*/
  border-bottom: 1px solid var(--basic-gray-line);
}

.hotel-foto{
  display: flex;
}

.hotel-name {
  flex-grow: 1;
  padding-left: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-name .hotel {
  margin: 0;
} 

.hotel-name .hotel:hover{
  color: var(--basic-blue-rest);
}

.hotel-name .hotel:active{
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-name-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 7px;
}

.hotel-name-price {
  margin-right: 6px;
}

.hotel {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-selection {
  font-size: 14px;
  line-height: 21px; 
  margin:0;
  padding-bottom: 18px;
}

.details {
  color: var(--basic-white);
  background-color: var(--basic-blue-rest);
  padding: 3px 17px;
}

.hotel-name-price .details:hover{
  background-color: var(--basic-blue-focus);
}

.hotel-name-price .details:active{
  color: var(--basic-blue-rest);
  background-color: var(--basic-blue-press);
}

.reservation {
  color: var(--basic-white);
  background-color: var(--basic-brown-rest);
  padding: 3px 17px;
}

.hotel-name-details .reservation:hover{
  background-color: var(--basic-brown-focus);
}

.hotel-name-details .reservation:active{
  color: var(--basic-brown-rest);
  background-color: var(--basic-brown-press);
}

.hotel-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.rating {
  color: var(--basic-gray-reseption);
  background-color: var(--basic-gray-rest);
  display: block;
  padding: 3px 15px;
  margin: 0;
}